In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import Row
from pyspark.sql import Column

In [2]:
sc=SparkContext(appName="pg_dataframe") 
spark=SparkSession.builder.appName('pg_dataframe').master("Yct201811021847").getOrCreate()

In [3]:
def create_df_from_postgres():
    df=spark.read.format('jdbc').options(
        url='jdbc:postgresql://localhost:5432/northwind',
        dbtable='public.orders',
        user='postgres',
        password='iamroot'
    ).load()
    return df

In [4]:
data=create_df_from_postgres()

In [5]:
data.show(2)

+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+------------------+--------+----------+--------------+-----------+
|orderid|customerid|employeeid| orderdate|requireddate|shippeddate|shipvia|freight|            shipname|       shipaddress|shipcity|shipregion|shippostalcode|shipcountry|
+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+------------------+--------+----------+--------------+-----------+
|  10248|     VINET|         5|1996-07-04|  1996-08-01| 1996-07-16|      3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|   Reims|      null|         51100|     France|
|  10249|     TOMSP|         6|1996-07-05|  1996-08-16| 1996-07-10|      1|  11.61|  Toms Spezialitäten|     Luisenstr. 48| Münster|      null|         44087|    Germany|
+-------+----------+----------+----------+------------+-----------+-------+-------+--------------------+------------------+--------+----------+--------------+-----------+
only showing top 2 rows

In [6]:
type(spark)

pyspark.sql.session.SparkSession

In [7]:
data.printSchema()

root
 |-- orderid: short (nullable = true)
 |-- customerid: string (nullable = true)
 |-- employeeid: short (nullable = true)
 |-- orderdate: date (nullable = true)
 |-- requireddate: date (nullable = true)
 |-- shippeddate: date (nullable = true)
 |-- shipvia: short (nullable = true)
 |-- freight: float (nullable = true)
 |-- shipname: string (nullable = true)
 |-- shipaddress: string (nullable = true)
 |-- shipcity: string (nullable = true)
 |-- shipregion: string (nullable = true)
 |-- shippostalcode: string (nullable = true)
 |-- shipcountry: string (nullable = true)

In [8]:
type(data)

pyspark.sql.dataframe.DataFrame

In [9]:
data.summary().show()

+-------+-----------------+----------+------------------+------------------+------------------+--------------------+--------------------+--------+----------+------------------+-----------+
|summary|          orderid|customerid|        employeeid|           shipvia|           freight|            shipname|         shipaddress|shipcity|shipregion|    shippostalcode|shipcountry|
+-------+-----------------+----------+------------------+------------------+------------------+--------------------+--------------------+--------+----------+------------------+-----------+
|  count|              830|       830|               830|               830|               830|                 830|                 830|     830|       323|               811|        830|
|   mean|          10662.5|      null| 4.403614457831325|2.0072289156626506|   78.244204877492|                null|                null|    null|      null|39975.067357512955|       null|
| stddev|239.7446558319914|      null|2.4996475400823885|0.7796852435554511|116.77929406259489|                null|                null|    null|      null| 36316.43627991753|       null|
|    min|            10248|     ALFKI|                 1|                 1|              0.02|Alfred's Futterkiste|1 rue Alsace-Lorr...|  Aachen|        AK|            01-012|  Argentina|
|    25%|            10455|      null|                 2|                 1|             13.37|                null|                null|    null|      null|            5022.0|       null|
|    50%|            10662|      null|                 4|                 2|             41.34|                null|                null|    null|      null|           28023.0|       null|
|    75%|            10870|      null|                 7|                 3|             91.48|                null|                null|    null|      null|           80805.0|       null|
|    max|            11077|     WOLZA|                 9|                 3|           1007.64|       Wolski Zajazd|        Åkergatan 24|   Århus|        WY|           WX3 6FW|  Venezuela|
+-------+-----------------+----------+------------------+------------------+------------------+--------------------+--------------------+--------+----------+------------------+-----------+

In [11]:
data.describe(['shipname','freight']).show()

+-------+--------------------+------------------+
|summary|            shipname|           freight|
+-------+--------------------+------------------+
|  count|                 830|               830|
|   mean|                null|   78.244204877492|
| stddev|                null|116.77929406259489|
|    min|Alfred's Futterkiste|              0.02|
|    max|       Wolski Zajazd|           1007.64|
+-------+--------------------+------------------+

In [55]:
cust_country=data.groupBy(['customerid','shipcountry'])

In [49]:
type(cust_country)

pyspark.sql.group.GroupedData

In [61]:
cust_country.agg({'shipcountry':'count','freight':'avg'}).orderBy(['count(shipcountry)'],ascending=False).show()

+----------+-----------+------------------+------------------+
|customerid|shipcountry|count(shipcountry)|      avg(freight)|
+----------+-----------+------------------+------------------+
|     SAVEA|        USA|                31|215.60322700008268|
|     ERNSH|    Austria|                30|206.84633391698202|
|     QUICK|    Germany|                28| 200.2010712495872|
|     FOLKO|     Sweden|                19|   88.320000121468|
|     HUNGO|    Ireland|                19|145.01262895684494|
|     RATTC|        USA|                18|118.56722169452243|
|     HILAA|  Venezuela|                18| 69.95333398713007|
|     BERGS|     Sweden|                18| 86.64000034332275|
|     BONAP|     France|                17| 79.87470626831055|
|     FRANK|    Germany|                15|  93.5626670519511|
|     LEHMS|    Germany|                15| 67.80199979146322|
|     WARTH|    Finland|                15| 54.83200004498164|
|     KOENE|    Germany|                14| 58.12000067319189|
|     LILAS|  Venezuela|                14|  52.4578571186534|
|     WHITC|        USA|                14|  96.6471427849361|
|     LAMAI|     France|                14| 45.41571426817349|
|     HANAR|     Brazil|                14|51.769285917282104|
|     BOTTM|     Canada|                14| 56.71071410179138|
|     MEREP|     Canada|                13|107.24769166799692|
|     AROUT|         UK|                13| 36.30384690944965|
+----------+-----------+------------------+------------------+
only showing top 20 rows

In [17]:
cust_country.avg().show()

+----------+-------+--------------------+------------+---------------+------------+------------------+
|customerid|freight|            shipname|avg(orderid)|avg(employeeid)|avg(shipvia)|      avg(freight)|
+----------+-------+--------------------+------------+---------------+------------+------------------+
|     BSBEV|  22.77|       B's Beverages|     10289.0|            7.0|         3.0|22.770000457763672|
|     RICSU| 130.79|  Richter Supermarkt|     10751.0|            3.0|         3.0| 130.7899932861328|
|     DRACD|  79.25|Drachenblut Delik...|     10825.0|            1.0|         1.0|             79.25|
|     RICSU|  30.85|  Richter Supermarkt|     10951.0|            9.0|         2.0|30.850000381469727|
|      null| 147.26|                null|     10294.0|            4.0|         2.0|147.25999450683594|
|      null|  17.68|Magazzini Aliment...|     10300.0|            2.0|         2.0| 17.68000030517578|
|     GODOS| 107.83|                null|     10303.0|            7.0|         2.0|107.83000183105469|
|     LONEP|   0.56|                null|     10307.0|            2.0|         2.0|0.5600000023841858|
|      null|  47.42|                null|     10389.0|            4.0|         2.0| 47.41999816894531|
|     SAVEA|  89.16|                null|     10398.0|            2.0|         3.0| 89.16000366210938|
|      null| 370.61|                null|     10424.0|            7.0|         2.0| 370.6099853515625|
|     BSBEV|   4.87|                null|     10538.0|            9.0|         3.0| 4.869999885559082|
|      null|  55.92|        Vaffeljernet|     10591.0|            1.0|         1.0| 55.91999816894531|
|      null| 105.81|                null|     10659.0|            7.0|         2.0|105.80999755859375|
|      null|   1.27|Furia Bacalhau e ...|     10664.0|            1.0|         3.0|1.2699999809265137|
|     QUEDE|   9.53|                null|     10720.0|            8.0|         2.0| 9.529999732971191|
|     VICTE|  22.11|                null|     10806.0|            3.0|         2.0|22.110000610351562|
|      null|   2.71|                null|     10840.0|            4.0|         2.0|2.7100000381469727|
|      null|  52.51|                null|     10858.0|            2.0|         1.0|  52.5099983215332|
|     BERGS|  32.37|                null|     10875.0|            4.0|         2.0|32.369998931884766|
+----------+-------+--------------------+------------+---------------+------------+------------------+
only showing top 20 rows

In [40]:
d1=data.cube(['customerid','freight','shipcountry'])