In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import Row
from pyspark.sql import Column

In [2]:
sc=SparkContext(appName="pg_dataframe")      
spark=SparkSession.builder.appName('pg_dataframe') \
        .master("Yct201811021847") \
        .getOrCreate()

In [3]:
db=spark.read.format('jdbc').options(
        url='jdbc:postgresql://localhost:5432/northwind',
        user='postgres',
        password='iamroot'
        #query="SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
)

In [7]:
#db.option('query',"SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'").load().show()

+--------------------+
|          table_name|
+--------------------+
|          categories|
|customercustomerdemo|
|customerdemographics|
|           customers|
|           employees|
| employeeterritories|
|       order_details|
|              orders|
|            products|
|              region|
|            shippers|
|        shippers_tmp|
|           suppliers|
|         territories|
|            usstates|
+--------------------+

In [4]:
categories_df = db.option("dbtable","categories").load()
products_df = db.option("dbtable","products").load()

In [5]:
categories_df.show(5)

+----------+--------------+--------------------+-------+
|categoryid|  categoryname|         description|picture|
+----------+--------------+--------------------+-------+
|         1|     Beverages|Soft drinks, coff...|     []|
|         2|    Condiments|Sweet and savory ...|     []|
|         3|   Confections|Desserts, candies...|     []|
|         4|Dairy Products|             Cheeses|     []|
|         5|Grains/Cereals|Breads, crackers,...|     []|
+----------+--------------+--------------------+-------+
only showing top 5 rows

In [6]:
products_df.show(5)

+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|productid|         productname|supplierid|categoryid|    quantityperUnit|unitprice|unitsinstock|unitsonorder|reorderlevel|discontinued|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|        1|                Chai|         8|         1| 10 boxes x 30 bags|     18.0|          39|           0|          10|           1|
|        2|               Chang|         1|         1| 24 - 12 oz bottles|     19.0|          17|          40|          25|           1|
|        3|       Aniseed Syrup|         1|         2|12 - 550 ml bottles|     10.0|          13|          70|          25|           0|
|        4|Chef Anton's Caju...|         2|         2|     48 - 6 oz jars|     22.0|          53|           0|           0|           0|
|        5|Chef Anton's Gumb...|         2|         2|           36 boxes|    21.35|           0|           0|           0|           1|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
only showing top 5 rows

In [7]:
products_df.printSchema()

root
 |-- productid: short (nullable = true)
 |-- productname: string (nullable = true)
 |-- supplierid: short (nullable = true)
 |-- categoryid: short (nullable = true)
 |-- quantityperUnit: string (nullable = true)
 |-- unitprice: float (nullable = true)
 |-- unitsinstock: short (nullable = true)
 |-- unitsonorder: short (nullable = true)
 |-- reorderlevel: short (nullable = true)
 |-- discontinued: integer (nullable = true)

In [8]:
categories_df.createTempView('categories')

In [9]:
products_df.createTempView('products')

In [12]:
spark.sql('SELECT * FROM categories LIMIT 5').show()

+----------+--------------+--------------------+-------+
|categoryid|  categoryname|         description|picture|
+----------+--------------+--------------------+-------+
|         1|     Beverages|Soft drinks, coff...|     []|
|         2|    Condiments|Sweet and savory ...|     []|
|         3|   Confections|Desserts, candies...|     []|
|         4|Dairy Products|             Cheeses|     []|
|         5|Grains/Cereals|Breads, crackers,...|     []|
+----------+--------------+--------------------+-------+

In [13]:
spark.sql('SELECT * FROM products LIMIT 5').show()

+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|productid|         productname|supplierid|categoryid|    quantityperUnit|unitprice|unitsinstock|unitsonorder|reorderlevel|discontinued|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|        1|                Chai|         8|         1| 10 boxes x 30 bags|     18.0|          39|           0|          10|           1|
|        2|               Chang|         1|         1| 24 - 12 oz bottles|     19.0|          17|          40|          25|           1|
|        3|       Aniseed Syrup|         1|         2|12 - 550 ml bottles|     10.0|          13|          70|          25|           0|
|        4|Chef Anton's Caju...|         2|         2|     48 - 6 oz jars|     22.0|          53|           0|           0|           0|
|        5|Chef Anton's Gumb...|         2|         2|           36 boxes|    21.35|           0|           0|           0|           1|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+

In [25]:
data = spark.sql('SELECT categoryname , productname , quantityperUnit , unitprice , \
                         unitsinstock , unitsonorder , reorderlevel , discontinued \
                 FROM products  prd LEFT JOIN categories cate ON prd.categoryid = cate.categoryid \
                 ')

In [26]:
type(data)

pyspark.sql.dataframe.DataFrame

In [1]:
data.createOrReplaceTempView('product_categoryname')

NameError: name 'data' is not defined

In [30]:
group_data = spark.sql('SELECT categoryname , AVG(unitprice) avg_unitprice , AVG(unitsinstock) avg_unitsinstock ,  \
                               MAX(reorderlevel) max_reorderlevel ,  COUNT(*) count_num  \
                               FROM product_categoryname   \
                               GROUP BY categoryname   \
                      ')

In [31]:
group_data.show()

+--------------+------------------+------------------+----------------+---------+
|  categoryname|     avg_unitprice|  avg_unitsinstock|max_reorderlevel|count_num|
+--------------+------------------+------------------+----------------+---------+
|Dairy Products|28.729999923706053|              39.3|              30|       10|
|  Meat/Poultry| 54.00666666030884|              27.5|              20|        6|
|    Condiments|22.854166825612385|             42.25|              25|       12|
|     Beverages|37.979166666666664|46.583333333333336|              30|       12|
|Grains/Cereals|             20.25|              44.0|              30|        7|
|       Seafood|20.682499885559082|58.416666666666664|              30|       12|
|   Confections|  25.1600000674908|29.692307692307693|              30|       13|
|       Produce|32.369999694824216|              20.0|              10|        5|
+--------------+------------------+------------------+----------------+---------+

In [32]:
group_data.write.parquet("product_categoryname.parquet")

In [35]:
data.show(3)
group_data.show(3)

+------------+------------------+------------------+---------+------------+------------+------------+------------+
|categoryname|       productname|   quantityperUnit|unitprice|unitsinstock|unitsonorder|reorderlevel|discontinued|
+------------+------------------+------------------+---------+------------+------------+------------+------------+
|   Beverages|              Chai|10 boxes x 30 bags|     18.0|          39|           0|          10|           1|
|   Beverages|             Chang|24 - 12 oz bottles|     19.0|          17|          40|          25|           1|
|   Beverages|Guaraná Fantástica|  12 - 355 ml cans|      4.5|          20|           0|           0|           1|
+------------+------------------+------------------+---------+------------+------------+------------+------------+
only showing top 3 rows

+--------------+------------------+----------------+----------------+---------+
|  categoryname|     avg_unitprice|avg_unitsinstock|max_reorderlevel|count_num|
+--------------+------------------+----------------+----------------+---------+
|Dairy Products|28.729999923706053|            39.3|              30|       10|
|  Meat/Poultry| 54.00666666030884|            27.5|              20|        6|
|    Condiments|22.854166825612385|           42.25|              25|       12|
+--------------+------------------+----------------+----------------+---------+
only showing top 3 rows

In [39]:
# csv 操作
iris_df=spark.read.csv('iris_dataset.csv',header=True, inferSchema=True)

In [46]:
stringCSV = spark.sparkContext.parallelize([
                    (1, "setosa", u"山鸢尾"),
                    (2, "versicolor", u"杂色鸢尾"),
                    (3, "virginica", u"维吉尼亚鸢尾")])

In [47]:
schema = StructType([StructField("id", LongType(), True),
                    StructField("english_name", StringType(), True),
                    StructField("chinese_name", StringType(), True)])

In [48]:
name_df = spark.createDataFrame(stringCSV,schema)
name_df.show(2)

+---+------------+------------+
| id|english_name|chinese_name|
+---+------------+------------+
|  1|      setosa|      山鸢尾|
|  2|  versicolor|    杂色鸢尾|
+---+------------+------------+
only showing top 2 rows

In [49]:
iris_df.createOrReplaceTempView('iris_data')
name_df.createOrReplaceTempView('iris_name')

In [50]:
data=spark.sql('SELECT data.* , name.chinese_name FROM iris_data data \
                    INNER JOIN iris_name name \
                    ON data.species = name.english_name \
          ')

In [51]:
data.show(3)

+------------+-----------+------------+-----------+-------+------------+
|sepal_length|sepal_width|petal_length|petal_width|species|chinese_name|
+------------+-----------+------------+-----------+-------+------------+
|         5.0|        3.3|         1.4|        0.2| setosa|      山鸢尾|
|         5.3|        3.7|         1.5|        0.2| setosa|      山鸢尾|
|         4.6|        3.2|         1.4|        0.2| setosa|      山鸢尾|
+------------+-----------+------------+-----------+-------+------------+
only showing top 3 rows

In [52]:
spark.catalog.dropTempView('iris_data')
spark.catalog.dropTempView('iris_name')

In [53]:
data.show(3)

+------------+-----------+------------+-----------+-------+------------+
|sepal_length|sepal_width|petal_length|petal_width|species|chinese_name|
+------------+-----------+------------+-----------+-------+------------+
|         5.0|        3.3|         1.4|        0.2| setosa|      山鸢尾|
|         5.3|        3.7|         1.5|        0.2| setosa|      山鸢尾|
|         4.6|        3.2|         1.4|        0.2| setosa|      山鸢尾|
+------------+-----------+------------+-----------+-------+------------+
only showing top 3 rows

In [77]:
#Json
schema = StructType([
    StructField("id", StringType(), True), 
    StructField("name", StringType(), True),    
    StructField("times", StringType(), True),
    StructField("url", StringType(), True),
    StructField("user", StringType(), True),
    StructField("manager", StringType(), True)
])
df = spark.read.json('test.json',schema)

In [78]:
df.show(2)

+---+------+-----+--------------------+----+-------+
| id|  name|times|                 url|user|manager|
+---+------+-----+--------------------+----+-------+
|  1|Google|    3|http://www.google...|nick|      7|
|  2| Baidu|    2|http://www.baidu.com|mike|      1|
+---+------+-----+--------------------+----+-------+
only showing top 2 rows

In [79]:
df.createOrReplaceTempView('webbrowser')

In [82]:
data=spark.sql("SELECT  A.id , A.name , A.times , A.url  , A.user , B.user manager \
           FROM webbrowser A \
           LEFT JOIN webbrowser B     \
           ON A.manager = B.id  ")

In [85]:
data.show(3)

+---+------+-----+--------------------+----+-------+
| id|  name|times|                 url|user|manager|
+---+------+-----+--------------------+----+-------+
|  1|Google|    3|http://www.google...|nick|  allen|
|  2| Baidu|    2|http://www.baidu.com|mike|   nick|
|  3|  bing|    1| http://www.bing.com|kate|   nick|
+---+------+-----+--------------------+----+-------+
only showing top 3 rows

In [84]:
spark.catalog.dropTempView('webbrowser')

In [86]:
from pyspark.sql.types import IntegerType

In [108]:
from pyspark.sql.functions import udf
import pandas as pd
import numpy as  np
square_udf_int = udf(lambda z: abs(z), IntegerType())

In [109]:
df_pd = pd.DataFrame(
    data={'integers': [1, 2, 3],
     'floats': [-1.0, 0.5, 2.7],
     'integer_arrays': [[1, 2], [3, 4, 5], [6, 7, 8, 9]]}
)
df = spark.createDataFrame(df_pd)
df.printSchema()

root
 |-- floats: double (nullable = true)
 |-- integer_arrays: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- integers: long (nullable = true)

In [110]:
(
    df.select('integers',
              'floats',
              square_udf_int('integers').alias('int_squared'),
              square_udf_int('floats').alias('float_squared'))
    .show()
)

+--------+------+-----------+-------------+
|integers|floats|int_squared|float_squared|
+--------+------+-----------+-------------+
|       1|  -1.0|          1|         null|
|       2|   0.5|          2|         null|
|       3|   2.7|          3|         null|
+--------+------+-----------+-------------+

In [111]:
df.createOrReplaceTempView('udftest')

In [119]:
spark.range(1, 20).registerTempTable("test")
def squared(s):
  return s+1
spark.udf.register("squaredWithPython", squared)

spark.sql(" SELECT id, squaredWithPython(id)  FROM test ").show()

+---+---------------------+
| id|squaredWithPython(id)|
+---+---------------------+
|  1|                    2|
|  2|                    3|
|  3|                    4|
|  4|                    5|
|  5|                    6|
|  6|                    7|
|  7|                    8|
|  8|                    9|
|  9|                   10|
| 10|                   11|
| 11|                   12|
| 12|                   13|
| 13|                   14|
| 14|                   15|
| 15|                   16|
| 16|                   17|
| 17|                   18|
| 18|                   19|
| 19|                   20|
+---+---------------------+