In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
######1列的索引
#1-1通过[]指定特定的列;指定多个列，使用列表
#1-2通过使用点号，引用特定的列
#1-3使用get函数，针对没有的列取值
#1-4对列进行重命名 df.columns=[新列名列表]
#####2行的索引
#2-1通过[startpos:endpos:step]切片方式
#2-2使用loc[]操作符:它允许面向标签(index)的索引.传递多行的列表
#2-3使用iloc[]操作符:它允许基于下标的索引,可以使用切片
#2-4使用ix[]操作符:它允许混合标签和基于下标的索引，相当于loc和iloc的混合
#2-5通过set_index函数设置行索引
#####3混合索引定位元素
#3-1使用iloc或loc定位到行和列
#3-2使用iat、at、ix函数定位特定的元素

In [3]:
city_data_dict={'BeiJing' : {'2019-Q1':100000, '2019-Q2':120000, '2019-Q3':150000, '2019-Q4':180000},
'ShangHai':{'2019-Q1':120000, '2019-Q2':140000,'2019-Q3':170000,'2019-Q4':190000},
'GuangZhou':{'2019-Q1':90000, '2019-Q2':110000, '2019-Q3':160000,'2019-Q4':180000},
'ShenZhen':{'2019-Q1':97000, '2019-Q2':112000, '2019-Q3':156000,'2019-Q4':187000}}

In [4]:
city_data=pd.DataFrame.from_dict(city_data_dict)

In [5]:
city_data

         BeiJing  GuangZhou  ShangHai  ShenZhen
2019-Q1   100000      90000    120000     97000
2019-Q2   120000     110000    140000    112000
2019-Q3   150000     160000    170000    156000
2019-Q4   180000     180000    190000    187000

In [6]:
city_data.index

Index([u'2019-Q1', u'2019-Q2', u'2019-Q3', u'2019-Q4'], dtype='object')

In [7]:
city_data.columns

Index([u'BeiJing', u'GuangZhou', u'ShangHai', u'ShenZhen'], dtype='object')

In [8]:
#通过点号应用特定的列
city_data.BeiJing

2019-Q1    100000
2019-Q2    120000
2019-Q3    150000
2019-Q4    180000
Name: BeiJing, dtype: int64

In [9]:
#1-1通过[]指定特定的列;指定多个列，使用列表
city_data[['BeiJing','ShangHai']]

         BeiJing  ShangHai
2019-Q1   100000    120000
2019-Q2   120000    140000
2019-Q3   150000    170000
2019-Q4   180000    190000

In [10]:
city_data['GuangZhou']

2019-Q1     90000
2019-Q2    110000
2019-Q3    160000
2019-Q4    180000
Name: GuangZhou, dtype: int64

In [11]:
#1-2使用get函数，针对没有的列值，返回空值。如果不使用，则会报错
city_data.get('HangZhou','N/A')    #没有杭州的数据

'N/A'

In [12]:
#1-4对列进行重命名 df.columns=[新列名列表]
city_data.columns=['北京','上海','广州','深圳']

In [13]:
city_data

             北京      上海      广州      深圳
2019-Q1  100000   90000  120000   97000
2019-Q2  120000  110000  140000  112000
2019-Q3  150000  160000  170000  156000
2019-Q4  180000  180000  190000  187000

In [14]:
#2-1通过[startpos:endpos:step]切片方式查找行
city_data[1:2]

             北京      上海      广州      深圳
2019-Q2  120000  110000  140000  112000

In [15]:
#2-2使用loc[]操作符:它允许面向标签(index)的索引
city_data.loc['2019-Q1']

北京    100000
上海     90000
广州    120000
深圳     97000
Name: 2019-Q1, dtype: int64

In [16]:
#同样也可以传递多行的列表
city_data.loc[['2019-Q2','2019-Q1']]

             北京      上海      广州      深圳
2019-Q2  120000  110000  140000  112000
2019-Q1  100000   90000  120000   97000

In [17]:
city_data.iloc[1]

北京    120000
上海    110000
广州    140000
深圳    112000
Name: 2019-Q2, dtype: int64

In [19]:
#2-3使用iloc[]操作符:它允许基于下标的索引,可以使用切片
city_data.iloc[0:2]

             北京      上海      广州      深圳
2019-Q1  100000   90000  120000   97000
2019-Q2  120000  110000  140000  112000

In [25]:
#通过行列结合，访问特定的元素
city_data.loc['2019-Q2']['北京']

120000

In [20]:
type(city_data.loc[['2019-Q2','2019-Q1']])

pandas.core.frame.DataFrame

In [21]:
#通过行列结合，访问特定的元素
city_data.iloc[2,1]

160000

In [28]:
city_data.iat[3,0]

180000

In [30]:
city_data

             北京      上海      广州      深圳
2019-Q1  100000   90000  120000   97000
2019-Q2  120000  110000  140000  112000
2019-Q3  150000  160000  170000  156000
2019-Q4  180000  180000  190000  187000