In [12]:
from pyhive import hive

In [13]:
connection = hive.Connection(host='hadoop_env.com', port=10000)

In [14]:
cursor = connection.cursor()

In [15]:
cursor.execute('show databases')

In [16]:
print cursor.fetchall()

[(u'default',), (u'test',)]

In [17]:
cursor.execute("CREATE DATABASE testdb")

In [18]:
cursor.execute('show databases')

In [19]:
print cursor.fetchall()

[(u'default',), (u'test',), (u'testdb',)]

In [20]:
cursor.execute("USE testdb")

In [21]:
cursor.execute('show tables')

In [22]:
cursor.execute("CREATE TABLE iris_data2(sepal_length DOUBLE , sepal_width DOUBLE , petal_length string , petal_width string , species string) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' STORED AS TEXTFILE")

In [23]:
cursor.execute('show tables')

In [24]:
print cursor.fetchall()

[(u'iris_data2',)]

In [25]:
cursor.execute("LOAD DATA INPATH '/test_data/iris.data' OVERWRITE INTO TABLE iris_data2")

In [27]:
cursor.execute("select * from iris_data2 limit 5")

In [87]:
print cursor.fetchall()

[(5.1, 3.5, u'1.4', u'0.2', u'Iris-setosa'), (4.9, 3.0, u'1.4', u'0.2', u'Iris-setosa'), (4.7, 3.2, u'1.3', u'0.2', u'Iris-setosa'), (4.6, 3.1, u'1.5', u'0.2', u'Iris-setosa'), (5.0, 3.6, u'1.4', u'0.2', u'Iris-setosa')]