In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.types import *

In [2]:
sc=SparkContext(appName="json_dataframe") 
spark=SparkSession.builder.appName('json_dataframe').master("Yct201811021847").getOrCreate()

In [11]:
def create_df_from_json():
    '''
    read的类型是DataFrameReader
    '''
    #schema = StructType([
    #    StructField("name", StringType(), True),    
    #    StructField("times", IntegerType(), True),
    #    StructField("url", StringType(), True)
    #]) 
    df = spark.read.json('test.json')
    return df.select(df.name,df.times.cast('int').alias('times'),df.url)

In [12]:
csv_df=create_df_from_json()

In [13]:
csv_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- times: integer (nullable = true)
 |-- url: string (nullable = true)

In [14]:
csv_df.collect()

[Row(name=u'Google', times=3, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=2, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=1, url=u'http://www.bing.com'),
 Row(name=u'Google', times=4, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=7, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=9, url=u'http://www.bing.com'),
 Row(name=u'Google', times=2, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=4, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=3, url=u'http://www.bing.com'),
 Row(name=u'Google', times=9, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=3, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=6, url=u'http://www.bing.com'),
 Row(name=u'Google', times=123, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=28, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=101, url=u'http://www.bing.com'),
 Row(name=u'Google', times=23, url=u'http://www.google.com'),
 Row(name=u'Baidu', times=8, url=u'http://www.baidu.com'),
 Row(name=u'bing', times=11, url=u'http://www.bing.com')]

In [8]:
type(csv_df)

pyspark.sql.dataframe.DataFrame

In [21]:
csv_df.cube('name').avg().show()

+------+------------------+
|  name|        avg(times)|
+------+------------------+
|  null| 19.27777777777778|
| Baidu| 8.666666666666666|
|  bing|21.833333333333332|
|Google|27.333333333333332|
+------+------------------+

In [22]:
csv_df.cube('name').sum().show()

+------+----------+
|  name|sum(times)|
+------+----------+
|  null|       347|
| Baidu|        52|
|  bing|       131|
|Google|       164|
+------+----------+

In [24]:
csv_df.cube('name').max().show()

+------+----------+
|  name|max(times)|
+------+----------+
|  null|       123|
| Baidu|        28|
|  bing|       101|
|Google|       123|
+------+----------+

In [26]:
def create_df_from_rdd():
    # 从集合中创建新的RDD
    stringCSVRDD = spark.sparkContext.parallelize([
                    (123, "Katie", 19, "brown"),
                    (456, "Michael", 22, "green"),
                    (789, "Simone", 23, "blue")])
    # 设置dataFrame将要使用的数据模型，定义列名，类型和是否为能为空
    schema = StructType([StructField("id", LongType(), True),
                        StructField("name", StringType(), True),
                        StructField("age", LongType(), True),
                        StructField("eyeColor", StringType(), True)])
    # 创建DataFrame
    df = spark.createDataFrame(stringCSVRDD,schema)
    return df
swimmers= create_df_from_rdd()

In [28]:
swimmers.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- eyeColor: string (nullable = true)

In [30]:
swimmers.select(swimmers.id,swimmers.name,swimmers.id,swimmers.age,swimmers.eyeColor).orderBy(swimmers.age.desc()).collect()

[Row(id=789, name=u'Simone', id=789, age=23, eyeColor=u'blue'),
 Row(id=456, name=u'Michael', id=456, age=22, eyeColor=u'green'),
 Row(id=123, name=u'Katie', id=123, age=19, eyeColor=u'brown')]

In [31]:
df=spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])